GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_SHEET_NAME=Leads

NEXT_PUBLIC_WHATSAPP_NUMBER=201022566857
NEXT_PUBLIC_SITE_URL=https://etkaan.com
NEXT_PUBLIC_GOOGLE_MAPS_URL=
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_LINKEDIN_URL=
NEXT_PUBLIC_CONTACT_EMAIL=info@etkaan.com
